- if @params[:code] == "N225"
  %a{:href => "http://market.newsln.jp/apps/market/quotes?r=2y&c=1010&lang=ja"}
    =h "[ドル建て]"
- if @params[:code] == "2042" or @params[:code] == "1563"
  %a{:href => "https://kabutan.jp/stock/chart?code=0012"}
    =h "[マザーズ指数]"
%a{:href => "#{@root}stock/#{@params[:code]}"}
  =h "[標準チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/long"}
  =h "[長期チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/detail"}
  =h "[全データ表示]"
- stock_file = "#{@root}data/stock_#{@params[:code]}.csv"
%a{:href => stock_file, :target => "_blank"}
  [株価データ]
- ti_file = "#{@root}data/ti_#{@params[:code]}.csv"
%a{:href => ti_file, :target => "_blank"}
  [テクニカル指標]
