- if @params[:code] == "N225" or @params[:code] == "1321" or @params[:code] == "1357" or @params[:code] == "1570" or @params[:code] == "1570" or @params[:code] == "1579" or @params[:code] == "1580" or @params[:code] == "1360" or @params[:code] == "1366"
  %a{:href => "http://www.conceptsengine.com/finance/chart/1010.html"}
    =h "[ドル建て日経平均]"
- if @params[:code] == "1348" or @params[:code] == "1356"
  %a{:href => "http://www.conceptsengine.com/finance/chart/1013.html"}
    =h "[TOPIX]"
- if @params[:code] == "1546"
  %a{:href => "http://www.conceptsengine.com/finance/chart/1100.html"}
    =h "[ダウ]"
- if @params[:code] == "1557"
  %a{:href => "http://www.conceptsengine.com/finance/chart/1101.html"}
    =h "[S&P500]"
- if @params[:code] == "1545"
  %a{:href => "http://www.conceptsengine.com/finance/chart/1102.html"}
    =h "[NASDAQ]"
- if @params[:code] == "2042" or @params[:code] == "1563"
  %a{:href => "https://kabutan.jp/stock/chart?code=0012"}
    =h "[マザーズ指数]"
- if @params[:code] == "2049" or @params[:code] == "1552"
  %a{:href => "https://nikkei225jp.com/data/vix.php"}
    =h "[恐怖指数]"
- if @params[:code] == "1671" or @params[:code] == "1699" or @params[:code] == "2038" or @params[:code] == "1605"
  %a{:href => "https://nikkei225jp.com/oil/"}
    =h "[原油]"
%a{:href => "#{@root}stock/#{@params[:code]}"}
  =h "[標準チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/short"}
  =h "[短期チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/long"}
  =h "[長期チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/detail"}
  =h "[時系列表示]"
- stock_file = "#{@root}data/stock_#{@params[:code]}.csv"
%a{:href => stock_file, :target => "_blank"}
  [株価データ]
- ti_file = "#{@root}data/ti_#{@params[:code]}.csv"
%a{:href => ti_file, :target => "_blank"}
  [テクニカル指標]
