- if @params[:code] == "N225"
  %a{:href => "http://market.newsln.jp/market/technical-chart/1010.html"}
    =h "[ドル建て]"
- if @params[:code] == "2042" or @params[:code] == "1563"
  %a{:href => "https://kabutan.jp/stock/chart?code=0012"}
    =h "[マザーズ指数]"
%a{:href => "#{@root}stock/#{@params[:code]}"}
  =h "[標準チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/short"}
  =h "[短期チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/long"}
  =h "[長期チャート]"
%a{:href => "#{@root}stock/#{@params[:code]}/detail"}
  =h "[時系列表示]"
- stock_file = "#{@root}data/stock_#{@params[:code]}.csv"
%a{:href => stock_file, :target => "_blank"}
  [株価データ]
- ti_file = "#{@root}data/ti_#{@params[:code]}.csv"
%a{:href => ti_file, :target => "_blank"}
  [テクニカル指標]
