%a{:href => "http://stocks.finance.yahoo.co.jp/stocks/detail/?code=#{@params[:code]}", :target => "_blank"}
  =h "Y!"
%a{:href => "http://shikiho.jp/tk/stock/info/#{@params[:code]}", :target => "_blank"}
  =h "四季報"
%a{:href => "http://gethaitou.webcrow.jp/kobetsumeigara/kenrikakuteibi_#{@params[:code]}.html", :target => "_blank"}
  =h "優待"
%a{:href => "http://market.newsln.jp/market/technical-chart/#{@params[:code]}.html", :target => "_blank"}
  =h "図"
%a{:href => "http://kabuyoho.ifis.co.jp/index.php?sa=report&bcode=#{@params[:code]}", :target => "_blank"}
  =h "IFIS"
%a{:href => "https://www.traders.co.jp/stocks_info/individual_info_basic.asp?SC=#{@params[:code]}", :target => "_blank"}
  =h "T's"
%a{:href => "http://www.quick.co.jp/page/screening_quote_score.html?quote=#{@params[:code]}", :target => "_blank"}
  =h "Q"
%a{:href => "http://kabutan.jp/stock/?code=#{@params[:code]}", :target => "_blank"}
  =h "株探"
%a{:href => "http://www.kabuka.jp.net/rating/#{@params[:code]}.html", :target => "_blank"}
  =h "目標"
%a{:href => "http://karauri.net/#{@params[:code]}/", :target => "_blank"}
  =h "空売"
%a{:href => "http://www.morningstar.co.jp/StockInfo/info/compare/#{@params[:code]}", :target => "_blank"}
  =h "PTS"
%a{:href => "http://moneybox.jp/investment/adr.php?t=#{@params[:code]}", :target => "_blank"}
  =h "ADR"
%a{:href => "http://kabu-sokuhou.com/brand/item/code___#{@params[:code]}", :target => "_blank"}
  =h "株速"
%a{:href => "http://minkabu.jp/stock/#{@params[:code]}/signal", :target => "_blank"}
  =h "みん株"
