%section#detail
- if @data.length > 0
  .container
    .content
      .row
        .span12
          %div{:class=>"pull-left"}
            = render(:haml, :'_chart_data')
      .row
        .span4
          = render(:haml, :'_series_all')
        .span4
          = render(:haml, :'_trend_all')
        .span4
          = render(:haml, :'_osc_all')

= render(:haml, :'_footer')
