%section#main
  .container
    .content
      .row
        .span12
          = render(:haml, :'_all')
          = render(:haml, :'_refindex')
      .row
        .span6
          = render(:haml, :'_portfolio')
        .span6
          = render(:haml, :'_portfolio2')
          = render(:haml, :'_portfolio_data')
      .row
        .span6
          = render(:haml, :'_core30')
        .span6
          = render(:haml, :'_core30_2')
          = render(:haml, :'_core30_data')
      .row
        .span4
          = render(:haml, :'_summary')
          = render(:haml, :'_summary_data')
        .span4
          = render(:haml, :'_screening_rsi14')
          = render(:haml, :'_screening_rsi14_data')
        .span4
          = render(:haml, :'_rolling_corr')
          = render(:haml, :'_rolling_corr_data')

= render(:haml, :'_footer_r')
