%section{:id => "main"}
  .container
    .content
      .row
        .span12
          = render(:haml, :'_all')
          = render(:haml, :'_refindex')
      .row
        .span4
          = render(:haml, :'_summary')
        .span4
          = render(:haml, :'_summary10')
        .span4
          = render(:haml, :'_summary25')

= render(:haml, :'_footer_r')
