%section#main
  .container
    .content
      .row
        .span12
          = render(:haml, :'_datatable')
      .row
        .span12
          = render(:haml, :'_all')
          = render(:haml, :'_refindex')
      .row
        .span6
          = render(:haml, :'_portfolio')
        .span6
          = render(:haml, :'_portfolio2')
          = render(:haml, :'_portfolio_data')
      .row
        .span6
          = render(:haml, :'_core30')
        .span6
          = render(:haml, :'_core30_2')
          = render(:haml, :'_core30_data')

= render(:haml, :'_footer_r')
