%section{:id => "main"}
  .container
    .content
      .row
        .span12
          = render(:haml, :'_all')
          = render(:haml, :'_refindex')
      .row
        .span4
          = render(:haml, :'_summary')
          = render(:haml, :'_summary_data')
        .span4
          = render(:haml, :'_summary10')
          = render(:haml, :'_summary10_data')
        .span4
          = render(:haml, :'_summary25')
          = render(:haml, :'_summary25_data')

= render(:haml, :'_footer_r')
