!!! 5
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title
      = @title || "Finance Dashboard"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    %link{ href: "#{@root}stylesheets/application.css", rel: "stylesheet" }/
    %link{ href: "#{@root}stylesheets/bootstrap.min.css", rel: "stylesheet" }/
    %link{ href: "#{@root}stylesheets/bootstrap-responsive.css", rel: "stylesheet" }/
    %link{ href: "#{@root}stylesheets/style.css", rel: "stylesheet" }/
    %script{:type => "text/javascript", :src => "#{@root}javascripts/jquery.js"}
    %script{:type => "text/javascript", :src => "#{@root}javascripts/bootstrap-collapse.js"}
    %script{:type => "text/javascript", :src => "#{@root}javascripts/application.js"}
  %body(class='apps-index-page' data-spy="scroll" data-target=".subnav" data-offset="50")
    %section#topbar
      %div.navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a{:class=>'brand',:href=>@root}
              Finance Dashboard
            %div{:class=>'nav-collapse'}
              %ul.nav
                %li
                  %a{:href => "#{@root}clear_recent"} Clear
                - if @recent
                  - @recent.each do |code|
                    %li
                      %a{:href => "#{@root}stock/#{code}"}
                        =h code

    = yield
