%section{:id => "main"}
- if @data.length > 0
  .container
    .content
      .row
        .span8
          = render(:haml, :'_chart')
          %p{:class=>"pull-right"}
            %a{:href => "#{@root}stock/#{@params[:code]}/detail"}
              =h "詳細"

        .span4
          = render(:haml, :'_series')
          = render(:haml, :'_trend')

  .container
    .content
      .row
        .span12
          = render(:haml, :'_osc')

= render(:haml, :'_footer')
